@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/HelveticaNeueCyr-Roman.woff2') format('woff2'),
        url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
	font-size: 16px; /* по умолчанию */
}
body {
	line-height: 1;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
/* ------------------------------ */

header, main {
	max-width: 1440px;
	padding: 40px 50px;
	margin: 0 auto;
	background: #E6E6FA;
}
nav li {
	display: inline-block;
	padding: 20px 30px;
	border-radius: 20px;
	background: #1E90FF;
	font-size: 20px;
	line-height: 24px;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	margin: 0 22px;
	box-shadow: 0 0 10px #00FFFF inset;
}
nav li:first-child {
	margin: 0 22px 0 0;
}
nav li:last-child {
	margin: 0 0 0 22px;
}
nav a {
	color: #fff;
	text-shadow: 0 1px 3px #000;
}
nav a:visited {
	color: #ADD8E6;
}
nav li:hover {
	background: #0000FF;
}
.block1 {
	margin: 0 0 50px 0;
}
.block1 p {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	line-height: 24px;
}
.block1 p:not(:last-child) {
	margin: 0 0 30px 0;
}
.block1 p:hover {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 22px;
	line-height: 30px;
}
.block2 {
	margin: 0 0 50px 0;
	font-family: 'Roboto', sans-serif;
} 
.block2 h2 {
	font-size: 36px;
	line-height: 40px;
	font-weight: 900;
	margin: 0 0 20px 0;
}
.block2 p {
	font-size: 22px;
	line-height: 28px;
	margin: 0 0 40px 0;
}
.block2 h2:first-of-type {
	color: #000080;
}
.block2 p:last-of-type {
	color: #000080;
}
.block3 {
	margin: 0 0 50px 0;
}
.block3 li {
	font-size: 22px;
	line-height: 28px;
	font-weight: 500;
	max-width: 400px;
	padding: 0 0 0 40px;
}
.block3 li:not(:last-child) {
	margin: 0 0 15px 0;
}
.block3 li::before {
	content: "";
	display: inline-block;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	background: #000080;
	margin: 0 20px 0 -34px;
}	
.block3 li:hover::before {
	background: #00BFFF;
}
.block4 {
	margin: 0 0 50px 0
}
.block5, .block6 {
	width: 300px;
	height: 300px;
	background: #00BFFF;
}
.block5 {
	margin: 0 10px 10px 0;
}
.block6 {
	margin: 0 0 0 310px;

}
.block5::after, .block6::after {
	content: "";
	display: block;
	width: 300px;
	height: 300px;
	background: #000080;
}
.block5::after {
	margin: 0 0 0 310px;
}
.block6::after {
	margin: 0 0 0 -310px;
}
.block7 {
	margin: 0 0 20px 0;
	padding: 210px 86px 210px 122px;
}
.block8 {
	font-family: 'Roboto', sans-serif;
}
.block9 span {
	font-size: 12px;
	line-height: 24px;
	font-weight: 700;
	letter-spacing: 2.5px;
	color: #5D62B5;
	text-transform: uppercase;
	display: inline-block;
	margin: 0 0 33px 0;
}
.block9 span::before {
	content: "";
	display: inline-block;
	width: 28px;
	height: 27px;
	background: url(../img/Overline\ Mark.png) 0 -1px no-repeat;
	margin: 0 9px 0 0;
	vertical-align: middle;
}
.block9 h2 {
	font-size: 36px;
	line-height: 42px;
	font-weight: 900;
	margin: 0 0 68px 0;
}
.block10 {
	padding: 0 0 122px 0;
}
.block11 {
	display: inline-block;
	max-width: 324px;
	margin: 0 24px 0 0;
}
.block11:last-child {
	margin: 0;
}
.img {
	width: 86px;
	height: 63px;
	vertical-align: top;
	display: inline-block;
}
.img::before {
	content: "";
	width: 63px;
	height: 63px;
	display: inline-block;
	margin: 0 23px 0 0;
}
.item {
	display: inline-block;
	width: 234px;
}
.title {
	font-size: 19px;
	line-height: 26px;
	font-weight: 900;
	color: #F2726F;
	margin: 0 0 20px 0;
	display: inline-block;
}
.text {
	line-height: 24px;
	letter-spacing: 0.15px;
	color: #4B4B4B;
}
.dog__love {
	background: url(../img/dog_love_24x.png) 0 -5px no-repeat;
}
.dog__vet {
	background: url(../img/dog_vet_24x.png) 0 -2px no-repeat;
}
.dog__stream {
	background: url(../img/dog_stream_24x.png) 0 -4px no-repeat;
}
.block12 {
	max-width: 255px;
	padding: 24px 24px 60px 24px;
	background: #252525;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	border-radius: 6px;
	font-family: 'HelveticaNeueCyr';
}
.bl12__title {
	font-size: 22px;
	line-height: 26px;
	letter-spacing: -0.275px;
	text-transform: capitalize;
	color: #FFFFFF;
}
.bl12__title::after {
	content: "";
	display: block;
	width: 56px;
	height: 2px;
	background: #34C759;
	margin: 10px 0 24px 0;
}
.bl12__text {
	font-size: 13px;
	line-height: 18px;
	letter-spacing: -0.1625px;
	color: rgba(255, 255, 255, 0.5);
}
